<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../header %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
     <link rel='stylesheet' href='/stylesheets/register.css' />
  </head>
  <body class="bac1">
    <% include ../menu %>
    <% if(type !=""){ %>
        <h1><%= type %></h1>
    <% } %>
      <form  method='post' id="login" action="/login/loginIn" name="login">
        <fieldset>
            <legend class="white">登陆</legend>
            <P><input type="text" name="userName" placeholder="ID"/></P>
            <P><input type="password" name='userPassword' placeholder="password"/></P>
            <p><input class="reg" type="submit" value="登陆"/></p>
            <p class="tl pl20 pt50"><a  href="./register" />还没有账号，去注册>></a></p>
        </fieldset>
      </form>
      <% include ../message %>
  </body>
</html>
