<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../header %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
     <link rel='stylesheet' href='/stylesheets/register.css' />
  </head>
  <body class="bac1">
    <% include ../menu %>
    <% if(type !=""){ %>
        <h1><%= type %></h1>
    <% } %>
      <form  method='post' id="login" action="/login/loginIn" name="login" class="form-horizontal">
        <fieldset>
            <legend class="white">登陆</legend>
            <div class="control-group input-prepend">
                <span class="add-on"><i class="icon-user"></i> 用户名</span>
                <input type="text"  name="userName" placeholder="ID"/>
            </div><br/>
            <div class="control-group input-prepend">
                <span class="add-on"><i class="icon-lock"></i> 密码：</span>
                <input type="password" name='userPassword' placeholder="password"/>
            </div>
            <div><input class="reg btn btn-success" type="submit" value="登陆"/></div>
            <p class="tl pl20 pt50"><a  href="./register" />还没有账号，去注册>> </a></p>
        </fieldset>
      </form>
      <% include ../message %>
  </body>
</html>
