<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../header %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/register.css' />
  </head>
  <body class="bac1">
      <% include ../menu %>
      <form class="form-horizontal" method='post' id="register" action="/register/register" name="register">
              <fieldset>
                  <legend class="white">注册</legend>
                  <div class="input-prepend control-group">
                      <span class="add-on ">用户名</span>
                      <input class="" type="text" name="userName" placeholder="ID"/>
                  </div><br/>
                  <div class="input-prepend control-group">
                      <span class="add-on ">密码：</span>
                      <input class="" type="password" name='userPassword' placeholder="password"/>
                  </div>
                  <div><input class=" btn btn-success" type="submit" value="注册"/></div>
              </fieldset>
      </form>
      <% include ../message %>
  </body>
</html>
